example/
__pycache__/
*.py[oc]
.venv/
.base-ast*/
maestro-sandbox/cpython/
*.wasm
*.prof
maestroperf
*.csv
*.xlsx
dist/
.cache/
.idea/
.vscode
.coverage
__pycache__/
.mypy_cache/
.mypy_cache/
.hypothesis/
prs/
./notas/provas/prova-1/submissions/
./notas/provas/prova-2/submissions/
./notas/provas/prova-3/submissions/
./notas/provas/trabalho-final/submissions/
maestro-sandbox/lib/
maestro-sandbox/examples/*/lib/
maestro-pytest/maestro-grades.json
